# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Django
app/db.sqlite3
app/media/
app/staticfiles/
app/assets/exports/
assets/exports/
tasks/
referencias_identificadas*.csv
backup_migracao_referencia_aplicacao_*.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

